<div class="videolist">
<h4>Videolist</h4>

<br>
	<% @videos.each do |video| %>

	<a name="<%= video.title %>" class="scroll-to-video list-item"><strong><%= video.title %></strong></a>
	<hr>  

	<% end %>

</div>