<div class="row">
<div class="col-xs-8 col-centered">
<h1>Editing video</h1>
 
<%= render 'form' %>
 
<%= link_to videos_path, class: 'btn btn-lg btn-info' do %>
	<i class="glyphicon glyphicon-arrow-left"></i>
<% end %>
</div>
</div>