<h1>Listing videos</h1>
 
<%= link_to 'New Video', new_video_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Text</th>
  </tr>
 
  <% @videos.each do |video| %>
    <tr>
      <td><%= video.title %></td>
      <td><%= raw youtube_embed(video.url) %></td>
      <td><%= video.text %></td>
    </tr>
  <% end %>
</table>