  <br>
  <br>

  <div class="row">
    <div class="col-xs-5 col-centered">
      <div class="form-group">

        <form class="input-group">
          <input type="text" class="form-control" placeholder="Search..." name="keyword" value='<%= params[:keyword] %>'></input>
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
          </span>
        </form>

      </div>
    </div>
  </div>
  
  <%= render "video" %>

  
